<h1>About Us</h1>
<br>
<h4>We are <u>three</u> high school web and app devlopers who love to make <u>websites</u> and <u>apps.</u> We made this website for HSHacks</h4>
<p>You can see it <%= link_to "here", "http://www.hshacks.com" %>.</p>