<h1>About Us</h1>
<br>
<div class="jumbotron center">
	<span class="why"><h3>Created by <a href="http://aeipsapps.tumblr.com"><b>Stasy Meclazcke</b></a>, <a href="http://github.com/samsatre"><b>Sam Satre</b></a>, and <a href="http://cmacca.github.io"><b>Colin McIllece</b></a></h3></span>
	<h4>Three <b>high school</b> web and app developers who love to <b>create</b> and put ideas into action. This website was created as a project for HShacks (link below)</h4>
	<div id="movelefte">
		<h4>The hackathon</h4>
		<p><a href="http://www.hshacks.com"><button class="button button-positive">Here</button></a></p>
	</div>
	<div id="moverighte">
		<h4>The code</h4>
		<p><a href="https://github.com/aeip/practicemakesperfect"><button class="button button-positive">Here</button></a></p>
	</div>
	<h2>
	What Does it do?
	</h2>
	<p>
	<h4>Practice Makes Perfect</b> (PMP) makes use of Malcom Gladwell's 10,000 hour concept. The concept states that it takes approximately 10,000 hours to become an expert in an activity. PMP takes that concept and creates a list and calendar for you to follow in order to achieve your goal of 10,000 hours. You can set tasks to occur every day in advance so you become motivated to complete them. You can also add new hours to the queue if you happened to work more or less on that goal during a day.
	</h4>
</div>
